<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RhythmApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00D002E6768D36EA47B61789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041669BC3EFA48E2209C1E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04503881294233351A151516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D9A0A184B7173976AD7523F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1025020140C75AD970EC404A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1263544A56A045462A947368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19A25F9C7EF450695A8C3F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C60638810486CDA79806FD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DE8183C2BAC54C972176488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A73FBE059656070E5451A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24F777781AFE460A4C166DB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262224015FA82A1A4EF37527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A9D5A0F1E0570954E37371E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F2D557B3EED57F1147C6135</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FDF132256653F2212A72075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A653281A1E32353B366161</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D0870DB628F58593F4D0B15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FBF55143AB573E638B51EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40294FEF5DFE781C082758B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E021CF321151FD91F2C3FF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>533561FF4F8E75BE2E5C1B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54B3740439AD0D3C03725BDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A736D5177E100E15E54676A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0B444138E36F134D864BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62494F9361377A367D7E17FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FFF633137DA086818430903</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7143267037B2359373E15298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74077BB421A97A3C24955CD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>756555AB5CAF708158F36890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D85396069FB1419242F3FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E56706E00C6553D45BB1277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
