<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveEchoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06BC5235503B78DA647004C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08842FD62F5B1A4C0CEE66D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CEB52A37620377A67416CD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D7701F04E8B1E8E228A3671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DFE596034833A0E2C066445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E024A072B54206C3E9D6DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F19416B6088095E15FA6EF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13CC52184A4E49651BFD23B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15ED7BA142C121E14DD62418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17B5720C263E5E1D571E73FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1917701B02D104B13AF411A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BAA573F74246C3C0F1F4600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21DA70771E6645A772BA1BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A824D8C51B379034FF434D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E05752426B9781365A352DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>369579527ED96E350AB043FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>383620020C783E3B1D560EAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FEE556E607074DC19D52BC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41054CD215A45DCD71322CD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44AE2B5A3C2B2E4A1CB9623F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45C522BE715F173C7416634F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C4D6F1430970CE6004169B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D84E831E840C6E2ED2727B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AD233507F581EF90AC542ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2A22EB7CB62B11185D2EAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>603E073603340A264D552D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AD0328B44365A0C6295510D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72BF74D50BA802331A7B3F67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77721E4D79CC5D05014961FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>783049C815AC0EEC4F4A44B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BCD63124A3E66017DF17868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
