<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToneAndSampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03AD0A4344F53F977587742B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08003B4D601A6B94695C588F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0825568C0340623B4E32431B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E2A7ADA16C631CA4F896A5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E2E07DE094610C44E250A28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EF12A1E1E041FFD43875E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>128038E8246C3CC141FB6E8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19742E3A1B9620A75B73045B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A5F723B0CB9560574F8531D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEA43BE28B453715E561B89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC4090675675D84267500B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>243F625226335F237DBC6F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ABF78E5416B00196A1925CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>358A2CFD4C083E940C6210E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42327C9B64AC76421F9E492C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45C311E8245442835D606925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D577A871DD1E051B083258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BF15E784D8167B342291ABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F2F234061DD08B139092608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55F5634C50E037FB707511B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59FA57586C7A472C5B52111C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F6240A263D555FB055811ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60F0532C1CE45A90341836D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BBC07442781190B566121E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ECE1D486CF634EA2A8312F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EEE795022383DC246382E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>721175952D1364605F4D4DEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E77D960F594F1B12566B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A650DA7715240943F6511ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE33D33637131523F7F68B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D2306ED523C717969ED5587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
