<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReverbApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01DB742A7EB41B5C426516D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DB6B781F864EC36BB27D4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4C0F1E026C3ADE5D9F0D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CEA5A905605697645886B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188554323B9472431BAA5DC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC906E72EF715276ECE4A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CBD7D1A3E077EA714E02E46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24157197254228C20A1A679E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24B83D4B2B4208112C7F57C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29D7122C1C295ADB0D793823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E150DC45BF553C34EEF67B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F2357FE7C9276DC0D3D3BD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F9429345487272A71667EDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31947BA45F7862F77F2A4BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EE0BB0607E22113D3B2384</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47CD0A754462099074464F91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49192B690EEA2DF7588139A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB60020765D133055456051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F907D794639777605696CE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>589E1171129909C37AC8744D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A77459F6B5F68DD32037CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0E3516757F75DE6CB50428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CBD0057501B502F7BFD50C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6190636328AF11AB014F2042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AD25685EF81C1070267BB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>641D490E41DE082B62130B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A9F775A750E23F876AE27A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F58386517F443773A167F7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72BB031C571A1D911C95365F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A9A38250F3B15DB1C8F2F27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B971C96756F00DD53B810AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
