//
//  LabSound.xcconfig
//  LabSound
//
//  Created by Nick Porcino on 1/12/15.
//
//

SDKROOT = macosx
VALID_ARCHS = x86_64
SYMROOT = build
OBJROOT = $(SYMROOT)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
OTHER_CPLUSPLUSFLAGS = -std=c++11 -stdlib=libc++

// static analyzer is pretty awesome, but don't need to run it always
RUN_CLANG_STATIC_ANALYZER = NO

REPORT_STK_CONVERSION_WARNINGS = NO
GCC_WARN_SHADOW = NO

CLANG_WARN_INT_CONVERSION = $(REPORT_STK_CONVERSION_WARNINGS)
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = $(REPORT_STK_CONVERSION_WARNINGS)
GCC_WARN_64_TO_32_BIT_CONVERSION = $(REPORT_STK_CONVERSION_WARNINGS)
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = $(REPORT_STK_CONVERSION_WARNINGS)

GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
OTHER_CFLAGS = -Wextra -Wno-unused-parameter -Wformat=2 -Wunreachable-code
GCC_TREAT_WARNINGS_AS_ERRORS = NO
HEADER_SEARCH_PATHS = platform platform/animation platform/audio platform/graphics platform/graphics/transforms platform/text Modules/webaudio WTF WTF/icu WTF/wtf libpd/cpp libpd/libpd_wrapper libpd/pure-data/src
