[submodule "src/libpd"]
	path = src/libpd
	url = git://github.com/meshula/libpd.git
[submodule "examples/LabMidi"]
	path = examples/LabMidi
	url = git://github.com/meshula/LabMidi.git
[submodule "examples/TonicAudio"]
	path = examples/TonicAudio
	url = https://github.com/TonicAudio/Tonic.git
[submodule "examples/Tonic"]
	path = examples/Tonic
	url = https://github.com/TonicAudio/Tonic.git
