# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.def
*.exp

# XCode stuff
*.hmap
*.xcuserstate

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Oo]bj/
x64/
build/
build-*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspsccs
*.vssscc
.builds
*.pidb
*.log
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
win.vs2015/LabSound.VC.*

# Visual Studio Code
.vs/
.vscode/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac Personal Files
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*~.nib
.DS_Store
.Trashes
.swp
# *.xccheckout VCS integration

# NB: also, whitelist the default ones, some projects need to use these
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Sublime Edit
*.sublime-workspace

# Qmake user file
*.pro.user

assets/ex_*.wav

