# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Xcode intermediate stuff
*.dep
*.hmap
*.d
*.dia
*.dat
*.xcworkspacedata
*.xcscheme
*.xcuserstate
*.xcsettings
*.LinkFileList

# other
*.DS_Store

build/
