<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveReverbRecordingApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00331F58621B6BDA57723226</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02D22CA64A8578F259165AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8E228706022CC963064F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12126B9916C65334191166AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1282187B52D8000D040242CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14DB49DB7156719A52D66F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18287CFB528E038C13824EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DA13B473F8D5BED27560095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E197EC017C4479D499D1D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F4563D7580E0515586854F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30F551642DF5316846BA01BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3151564C1F70178E15B46394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>420B6CDA120C09AB4EA163A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>469860A50D191B1712AE138C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46A726A127792229501F5755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>491C62FA1DBD1DF219A32034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A6406A344C360F57BBC12BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C7079170C25736D3907215B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB81CC0332A36701B2113E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>547C53F467BF6BA354993263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BD326013D5C1B75526A6B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C892ED1435A63D9702B436B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D92598A2DA34EDA7E2D5BAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F475EAD30FF6A2556D478BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61E254656BF408456E22314D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>632A780E12F94B47503C23D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65392A8646E24D6149CA71FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67C14FD67830242473346100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C6A4E994B033FCD31F02D18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71C3742D739D64382FE71AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FED436A182F504F24A235FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
