//
//  Debug.xcconfig
//  LabSound
//
//  Created by Nick Porcino on 1/12/15.
//
//

PRODUCT_NAME = LabSound
ONLY_ACTIVE_ARCH = YES
COPY_PHASE_STRIP = NO
GCC_PREPROCESSOR_DEFINITIONS = DEBUG PD __MACOSX_CORE__ HAVE_NO_OFLOG HAVE_BOOST_THREAD HAVE_LIBDL OSX HAVE_ALLOCA HAVE_UNISTD_H USEAPI_DUMMY BUILDING_WTF=1
HEADER_SEARCH_PATHS = $(PROJECT_DIR)/../include/third_party $(PROJECT_DIR)/../include/internal
GCC_OPTIMIZATION_LEVEL = 0
