<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DalekVoiceApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BF319F64855C3A13E27BF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2138692CBE7225174818B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CF564B348ED46091F32423A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14617E355E8A4BD11DBC3B37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>150B3487249024D878E447BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161368CB049027204BEA0B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D0777A049C749AF28A916C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2044556F1D595637422117F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C03807626839B201C01243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29E84ED66B700AA6299B37BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B016D0C4AE70A285C434107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D08209B4B2A501B527F25BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30181A9E34331A3601470000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34C927764C914446642216CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B0A4B000C054F3135E972C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DB412181B59316E3D02730F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44B978AF57424F5713DC120F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47DA4A7436FC14CD3CC0000D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509B2DB3726A22524F626644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A204DE38A64EEB449F55D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>520015005B657A0B22043EDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54CB0B9C581C52FD1D536696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C6A3E935A944CB46FB44C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62C50108593C137650ED10DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C401542379E1FAE5B094325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8D3B725AE64D9458CC66A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3771C420EC269B33F47329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E723F7E6DC61CD25AD223E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>720A2E1F26AD47600B05316A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CF429883EC43DBE0FD7016D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E28184A51AD53FA004A28C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
