<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RhythmTonePanningApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07B90B340D7913D45CC546C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>136B752237B432774B7F1A43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138A4DA145C51BDF55813E08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14EA44BB615A70D002803097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17DE02142DD46C2D3B3945A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18DB5ADF1EC91E292ABE5856</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E58465909B43144041456C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27305A81721D7D4769726D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28DC08552DAB4C71248C679E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B5830B948453CC54B1210A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34AD4AC365F7547C1D475EDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EC10C9A587C4B5F4AFE783F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4522694A29B367B8647A316A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>453B50DE345C107513D80961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4651113C2FF86B2E32BC740C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE57B2620EA0025261E7E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57C55A2F4EF76D7C0C310D6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58FA45516B5C1A9B5728107B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A16769B6A6135FE50AF46F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B086D517AD759BC467C0F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CEB5B7628CB47F47F66383B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E8E747963EA305E1B0E3E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>619B19673B0D547903252B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64CB07BF23A822A64FE407BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>675535DE421A3A637080711D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67BF451970231E03089D1CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E30E84019C48156D440C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B781B2A14D93937777B48CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77495D984D25414270374009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79B433385D856F9806D105A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DE76B473A7E306A1DB840BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
