<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabSound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>036A637F31745A1322860C7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0730779A23EA051F4A8C5D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A810725CAD64445C28505D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>252D66F2225479CB36EA7C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29FA0F1F683316261AD80F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB902C16394433416BC319C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E874DA308EB190C724666C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377A558B218D36A51BA04B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD5012C2DDA4F190F005AC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CB32D8E6A7E0C1567823A3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCD3C3F569C22295B7440CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>403558C0654C65EA0C8928B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41EF5AE8690E1D0C7F027B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43F309E45EA75EA556D13C1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AB54A2623156F251C4E53E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5620051B674A5C7B415A7FE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>583305D850EF3447231B4A4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E5475FC0213441B009953D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F0C312D3C435B831DA209B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F331E7A118E03C6414F33E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E5008D4EF0728F254C53D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72454E195BCA417256347B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B94FF377D96059331619B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>791100BC71377D7131314246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
