<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToneAndSampleRecordedApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0484319740E27078576F74A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05F5382F15EE7541217265D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B775776275A2DA5663D6C21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E5F13561361670F49300CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C926A928DF562F43EE74CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AB6F43555779EF579D0C3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>191C281D31854D3F209A1C94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>191D59103A351E192DED61B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A6E3A9532375DEF0CFA1631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BBE6B2821894CEB5EB40592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDE103A7E9311DF49AA4248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>200F4DFC17FD0A6D2F681413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23A121705784595F71067131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25B2743C17D3297979D0614F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25E1135E1F0A687A539719D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273274E3170C285032A44E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F8576581FB21F600F507619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3226087007064E32401619F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7909E40FAD45421CC241C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BDA657A31DC7F256AA1720E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D6A112463F248E21F991FF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FEB7E296E3C32C065690722</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B805DEA497823F331A351B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F11006B0050220A65ED69B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>541229830C3324EB643B72EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EC772EB421A40E51BC14527</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B9C583C59CB562D3D903E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C1B133445E6215F1C774BBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E2C3F510E423A1772312125</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7827625226336FF95E742A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79901E0A50E84A9649FD28F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
