<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleSpatializationApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E9B19A460DE49B072742028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF53A852F72792255DD218A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>145835956E933260427272B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BE0378D1C186FE409453FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB21A9C18F12C65455178D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20343D3B2942694E1F466D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2119303F792A53B91AB16A5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24E55FBB1D344A984974766C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28EC54A334CE5CD53F0A6AFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AB8251A5A3620082D2649D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>306D528A1AA3709B71CB76DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32361F175E330698144A34CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DB56AE4823300B52840DE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>385D794D58756CF42C7A022A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>398F12A71854502D510753E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41E06FB4192B733E743777DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>481840640A3B48AB776F4CDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496871AB46AF30C23B0A44F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A1080E63997BA724D05523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49D0167656FC6F972EE6032D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C0D294230A05A3579441E13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5158186E04802D1B75B95047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58B10BFD3EA176B032766F58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61BF77FA7831712E35A228BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62176A7602C3781B5B263EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>688A6B026CFD57451C796070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E510EED243816E94C27151C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E5A16E74DBF6DDE2BD6773D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>707A11C52ACE539E57276BBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773A38A704FF2B96419D61F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2C16945EE74DD828FB0F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
