<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RhythmFilteredApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03960E646FA76B90634A1C80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03D5187D5C3D66BE48B661B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08045C270BF948AF0ADD5DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B7F47B80D196D5A43383D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DAE3F7F52CE67D240CD12B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E3E14FE4875207C4B4D4DB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10D53BC8070A50D0150F4236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10FD624403D2539E53625DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17886681495E68E738E543B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBA59266EB40C7352DA0025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23012FCC0FFD2BCB24110EEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270B70DC06C3091F66EC29C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274617DB67C62A2C391B5531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29CA3E22421F3C416F0139F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34495F095665126F447B704B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DA27C6C4BF41E26535D0868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E716E574A7376DF4E677D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>411D7A51695567B216D65CE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>464A497756FD107B01ED0785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47697475424B01CE16EC7D7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49336EF461B541A342816253</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52021CDB0A314E8C528617F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552576D46B1A01793F544E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DE6C7E58CF21515D1C738A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A686A6000CF46B07D4E436C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B7170F844101B943F6A6F0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE82D8E4F957EA51FF60E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D627D3333C0317250736F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70224A796F1D649458887FBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7509495459095DEE37B83184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B43022B158435BA78282193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
